node_modules/
npm-debug.log
.env
.DS_Store
coverage/
backups/*
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock
lib-cov/
*.tsbuildinfo
build/
dist/
tmp/
temp/
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.iml

